In [ ]:
# Run below shell before answering question

In [ ]:
# Import related libraries and submodule
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from sklearn.datasets import fetch_openml

In [ ]:
# Import dataset
X,y = fetch_openml("autos", version=1, as_frame=True, return_X_y=True)
data = X
data['target'] = y

In [ ]:
Q1: Pivot Table
    1a. print the data
    1b. create a pivot table using index='num-of-doors', column='fuel-type', and values as price
    1c. round off the values of question 1b output to two decimal places
    1d. create a pivot table using index=['num-of-doors','body-style'], 
       column=['fuel-type' , 'fuel-system'], and values as price
    1e. fill NaN values by zero in the output of question 1d. 
        hint: use fill_value as the parameter

In [ ]:
Q2: Pivot table with aggfunc argument
    2a. create a pivot table using index = 'body-style' , columns = 'num-of-doors', values = 'price'.
        calculate mean and median using aggfunc argument
    2b. fill NaN values by zero in the output of question 2a
    2c. create a pivot table using values=['price', 'horsepower'], and index= 'make'
    2d. fill NaN values by zero in the output of question 2c and round off the result to two decimal places 
    2e. ordered the car make by price from high to low value

In [ ]:
Q3: Time-series 
    3a. create arbitrary date using python's built-in submodule datetime
    3b. create arbitrary date and timw using python's built-in submodule datetime
    3c. create current date using python's built-in submodule datetime
    3d. create yesterday date using python's built-in submodule datetime and timedelta
    3d. create yesterday date using python's built-in submodule datetime and timedelta
    3e. extract the year from the result of Q3d

In [ ]:
Q4: Date_range
    4a. create a date_range for one week by using start and end parameters
    4b. create a date_range for 18-week long using weekly frequency
    4c. print min and max dates of Q4b

In [ ]:
# 1a. print the data

In [ ]:
# 1b. create a pivot table using index='num-of-doors', column='fuel-type', and values as price

In [ ]:
# Q1c. Round off the values of question 1b output to two decimal places

In [ ]:
# Q1d. 
'''
Create a pivot table using multi-level indexing index=['num-of-doors','body-style'], 
and multi-level columns column=['fuel-type' , 'fuel-system'], and values = 'price'
'''

In [ ]:
# 1e. fill NaN values by zero in the output of question 1d.
# hint use fill_value as the parameter

In [ ]:
# 2a. create a pivot table using index = 'body-style' , columns = 'num-of-doors', values = 'price'.
#calculate mean and median using aggfunc argument

In [ ]:
# 2b. fill NaN values by zero in the output of question 2a

In [ ]:
# 2c. create a pivot table using values=['price', 'horsepower'], and index= 'make'

In [ ]:
# 2d. fill NaN values by zero in the output of question 2c and round off the result to two decimal places

In [ ]:
# 2 e. ordered the car make by price from high to low value

In [ ]:
# Q3a. create arbitrary date using python's inbuild submodule datetime

# Arbitrary date

In [ ]:
# Q3b. create arbitrary date and timw using python's inbuild submodule datetime

# Arbitary date and time

In [ ]:
# Q3c. create current date using python's inbuild submodule datetime

# Now

In [ ]:
# Q3d. create yesterday date using python's inbuild submodule datetime and timedelta

# Yesterday

In [ ]:
# Q3e. extract the year from the result of Q3d

In [ ]:
# Q4a. create a date_range for one week by using start and end parameters

In [ ]:
# Q4b. create a date_range for 18-week long using weekly frequency

In [ ]:
# Q4c. print min and max dates of Q4b