# Combining and Merging Datasets

In [1]:
import numpy as np
import pandas as pd

In [2]:
# related data objects

df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                    'data2': range(3)})

df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                    'data2': range(3)})

left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lval': [1, 2, 3]})
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'two'],
                      'rval': [4, 5, 6, 7]})


left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
                      'value': range(6)})
right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])

A1 = df = pd.DataFrame({'A': [1, 5, 3, 77, 6],'B': [5, 4, 99, 5, 8]})

B1 = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],'col1': range(6),'col2': [5,0,3,3,7,9]},
                  columns = ['key', 'col1', 'col2'])

Q1
- a. print df1
- b. print df2
- c. merge both the datasets of df1 and df2
- d. merge both the datasets of df1 and df2 by inner
- e. merge both the datasets of df1 and df2 by outer

In [3]:
# a.

In [4]:
# b.

In [5]:
# c.

In [6]:
# d.

In [7]:
# e.

Q2
- a. merge both the datasets of df3 and df4
- b. merge both the datasets of df3 and df4 based on df3 columns
- c. merge both the datasets of df3 and df4 based on df4 columns

In [8]:
# a.

In [9]:
# b.

In [10]:
# c.

Q3
- a. merge the dataset of left and right by outer
- b. merge the dataset of left and right based on key1 column
- c. Suffix the conflicting column name of result output of question 3b as _left and _right

In [11]:
# a.

In [12]:
# b.

In [13]:
#c.

Q4. 
- a. merge the dataset of left1 and right1
- b. merge the dataset of left1 and right1 by outer

Q5: Aggregation
- a. aggregates mean within each column on A1
- b. aggregates mean within each row on A1
- c. load the 'planets' dataset form seaborn package
- d. drop na on planets dataset, then describe that computes several common aggregates

In [15]:
print(A1)

    A   B
0   1   5
1   5   4
2   3  99
3  77   5
4   6   8

In [16]:
# a.

In [17]:
# b.

In [18]:
# c.

In [19]:
# d.

Q6
- a. set 'number' column as the index of planets
- b. group by the sum of the new dataset by number 'key'
- c. group by the sum of 'orbital_period' in the new dataset by 'year' column

In [20]:
#a.

In [21]:
# b.

In [22]:
# c.

Q6: 
- a. print B1
- b. group by the sum of B1 by 'key'
- c. set a function filter_func that keep all groups in which sum of col2 > 7
- d. apply c on B1

In [23]:
# a.

In [24]:
# b.

In [25]:
# c.

In [26]:
# d.