In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# Question 1

## load the data of WordsByCharacter
- a. set the index by using column of 'Film', 'Chapter', 'Race', 'Character' 
- b. sort the index of Q1 a.
- c. Access the character of the movie `The Fellowship Of The Ring` from its `first chapter`
- d. how many words are spoken in the first chapter of the movie `The Fellowship Of The Ring`

In [2]:
# load data

In [3]:
# a. set the index by using column of 'Film', 'Chapter', 'Race', 'Character'

In [4]:
# b. sort the index of Q1 a.

In [5]:
# c. Access the Character of the movie 'The Fellowship Of The Ring' from its 'first chapter'

In [6]:
# d. how many words are spoken in the first chapter of the movie 'The Fellowship Of The Ring'

# Question 2

## Use the `planets` dataset form seaborn package
- a. describe the `planets` dataset by excluding object datatype columns
- b. describe int datatype columns of a `planets` Dataset 
- c. drop na on `planets` dataset, then describe that computes several common aggregates

In [7]:
# loading the 'planets' dataset form seaborn package

In [8]:
# a. describe the ``planets dataset`` by excluding object datatype columns

In [9]:
# b. describe int datatype columns of a ``planets Dataset``

In [10]:
# c. drop na on planets dataset, then describe that computes several common aggregates

# Question 3

## Use US states population and abbreviations dataset
- a. merge the data using many-to-one approach for the data of `pop` and `abbrevs` 
- b. remove the duplicate column whose values are common
- c. check if there are any missing values in the merged dataset of `pop and abbrevs`

In [11]:
# reading the dataset

In [12]:
# a. merge the data using many-to-one approach for the data of pop and abbrevs

# Here the primary key is state/region (pop) and abbreviation (abbrevs)
# Using how='outer' so that no data is thrown away due to label mismatch
# The values in state/region and abbreviation are common however their column name are different

In [13]:
# b. remove the duplicate column whose values are common
# Dropping out the duplicate info

In [14]:
# c. check if there are any missing values in the merged dataset of pop and abbrevs

# Question 4

## Use the dataset of world_population and answer below questions
- a. how many continents do we have in the world?
- b. what are the names of these continents?
- c. how many countries are present in each continent?
- d. what is the population (year 2022) of the world per continent?
- e. what are the most five populous countries (year 2022) in the world?

In [15]:
# reading the dataset

In [16]:
# a. how many continents do we have in the world?

In [17]:
# b. what are the names of these continents?

In [18]:
# c. how many countries are present in each continent?

In [19]:
# d. what is the population of the world per continent?

In [20]:
# e. what are the most five populous countries in the world